version: "3.8"

services:
  server:
    image: pp-portal-backend
    container_name: pp-backend
    network_mode: host
    env_file:
      - ./server/.env.production
    restart: always

  client:
    build:
      context: ./client
      dockerfile: Dockerfile.prod
    ports:
      - "80:80"
    restart: always
