.resultContainer {
  padding: 20px;
  background: #f8f9fb;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.formGroup {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  font-size: 14px;
  font-weight: 600;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

.searchBtn {
  margin-top: 15px;
  padding: 10px 18px;
  background-color: #1b72e8;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  width: fit-content;
}

.searchBtn:hover {
  background-color: #145ab8;
}

.resultsTable {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.resultsTable thead {
  background-color: #1b72e8;
  color: white;
}

.resultsTable th,
.resultsTable td {
  padding: 10px;
  border-bottom: 1px solid #e5e5e5;
  text-align: left;
}

.resultsTable tr:hover {
  background: #f1f5ff;
}

.noResults {
  margin-top: 20px;
  font-size: 16px;
  color: #777;
}


.blockContainer {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}

.selectedBox {
  width: 250px;
  background: #ffffff;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  height: max-content;
}

.selectedBox h4 {
  margin: 0 0 10px;
  font-size: 15px;
  font-weight: 600;
}

.noSelected {
  font-size: 13px;
  color: #777;
}

.chipWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.chip {
  display: inline-block;
  background-color: #1b72e8;
  color: white;
  padding: 5px 10px;
  border-radius: 15px;
  font-size: 13px;
  white-space: nowrap;
}

.sortContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  align-items: center;
}

.sortSelect {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.sortBtn {
  background: #1b72e8;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.sortBtn:hover {
  background: #145bbd;
}


.downloadBtn {
  background-color: #007bff;
  padding: 8px 14px;
  margin-top: 10px;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.downloadBtn:hover {
  background-color: #0056b3;
}
